{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    

    
    body {
        margin: 0;
        background-color: #329fbb;
    }
    .login-form{
        border-radius: 5px;
        width: 300px;
        background-color: #dce0e7;
        padding:20px;
        margin : 50px auto;
    }
    
   
</style>

    
{% endblock head %}

{% block content %}

<div class="d-flex justify-content-center">
    <h1>로그인</h1>
</div>
<div class="login-form">
    <form action="{% url "accounts:login" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="로그인">
    </form>
</div>



{% endblock content %}