{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>



    body {
        margin: 0;
        background-color: #329fbb;
    }
    .container{
        /* border: 3px solid red; */
        border-radius: 5px;
        width: 300px;
        background-color: #dce0e7;
        padding:20px;
        margin : 50px auto;
    }


</style>


{% endblock head %}

{% block content %}

    <div class="d-flex justify-content-center">
    <h1>비밀번호 변경</h1>
    </div>

    <div class="container">
        <form action="{% url 'accounts:password_change'%}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">비밀번호 변경</button>
        </form>

    </div>


{% endblock content %}