{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

    * {
        font-family: 'Noto Sans KR', sans-serif;
    }

    body {
        margin: 0;
        background-color: #329fbb;
    }
    .login-form{
        /* border: 3px solid red; */
        border-radius: 5px;
        width: 300px;
        background-color: #eeeff1;
        padding:20px;
        margin : 50px auto;
    }
    
   
</style>

    
{% endblock head %}

{% block content %}
<!-- <h1> 로그인 페이지 </h1>

<form action="{% url "accounts:login" %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="로그인">
</form> -->

<div class="login-form">
    <form action="{% url "accounts:login" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="로그인">
    </form>
</div>



{% endblock content %}