{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    

    
    body {
        margin: 0;
        background-color: #329fbb;
    }
    
   
</style>

    
{% endblock head %}

{% block content %}

    <h1>{{ search_word }}로 검색한 결과</h1>

    {% for article in article_list %}
    	<p><a href="{% url 'products:product_detail' article.pk %}">{{ article.title }}</a></p>
    {% endfor %}

{% endblock content %}