{% extends "base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock head %}


{% block content %}
    <h1> {{ member.user.username }} </h1>

    <p> 가입일: {{ member.user.date_joined }}</p>

    <img src="{{ member.image.url }}" alt = {{ member.image }}>


    {% if member == now_user %}
    <a href="{% url 'users:update_profile' member.user.id %}"><button>프로필 수정하기</button></a>
    {% endif %}

    
    {% if now_user != member %}
    <form action="{% url 'users:follow' member.user.id %}" method="POST">
    {% csrf_token %}

        {% if now_user in member.followers.all %}
            <input type="submit" value="팔루우중">
        {% else %}
            <input type="submit" value="팔로우하기">
        {% endif %}

    </form>
    {% endif %}

    <div>
    <p>가입일 : {{ member.user.date_joined }}</p>
    <p>팔로우수 : {{ member.following.count }}</p>
    <p>팔로워수 : {{ member.followers.count }}</p>
    </div>

    <div>
        <h4>{{ member.user.username }}님이 좋아요한 게시물</h4>
    {% for like_post in like_posts %}
    	<li><a href="{% url 'products:product_detail' like_post.pk %}">{{ like_post.title }}</a></li>
    {% endfor %}

    </div>

    <div>
        <h4>{{ member.user.username }}님이 작성한 게시물</h4>
    {% for write_post in write_posts %}
    	<li><a href="{% url 'products:product_detail' write_post.pk %}">{{ write_post.title }}</a></li>
    {% endfor %}

    </div>

    <a href="{% url 'accounts:update' %}"><button>회원정보 수정</button></a>
    <a href="{% url 'products:product' %}"><button>홈으로 돌아가기</button></a>

{% endblock content %}

