{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      
  
      
      body {
          margin: 0;
          background-color: #329fbb;
      }
      
  </style>
  
      
  {% endblock head %}



{% block content %}
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0" src="{% if product.image %}{{ product.image.url }}{% else %}https://dummyimage.com/600x700/dee2e6/6c757d.jpg{% endif %}" alt="Product Image">
        </div>
        <div class="col-md-6">
          <div class="small mb-1">작성자: <a href="{% url 'users:profile' product.author.pk %}">{{ product.author }}</a></div>
          <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
          <div class="fs-5 mb-5">
            <span class="text-decoration-line-through">$45.00</span>
            <span>$40.00</span>
            {% for hashtag in hashtags %}
              <a href="{% url 'products:hashtag' hashtag.pk %}">#{{ hashtag.content }}</a>
            {% endfor %}
          </div>
          <p class="lead">{{ product.content }}</p>
          <div class="d-flex">
            
            <form action="{% url 'users:like' product.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in product.like_users.all %}
                  <button class="btn btn-outline-dark flex-shrink-0" type="submit">취소하기</button>
                {% else %}
                  <button class="btn btn-outline-dark flex-shrink-0" type="submit">찜하기</button>
                {% endif %}
              </form>
          </div>
          <div class="like-info">
            <br>
            <br>
            <p>좋아요 수: {{ product.like_users.count }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
    <div class="action-buttons">
      <form action="{% url 'products:delete' product.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
      <a href="{% url 'products:update' product.pk %}">
        <button>글 수정</button>
      </a>
    </div>
  </div>
{% endblock content %}
